<main class='relative'>
  <div class='flex justify-center mt-4'>
    <div class='text-lg font-bold'>
      <h1><a href='https://end-gfw.com' target='_blank'>大翻墙运动:
          https://end-gfw.com</a>,
        <a href='https://twitter.com/end_gfw' target='_blank'>推特end_gfw</a>,
        免墙Youtube， 免墙谷歌， 免墙维基百科</h1>
      <h1>安卓手机使用NthLink, Orbot VPN, Cloudflare</h1>
      <h1>苹果手机苹果电脑使用海外苹果账户下载NthLink, Orbot VPN, Cloudflare,
        网站提供海外苹果账户</h1>
      <h1>微软系统电脑使用VPNGate, NthLink,Cloudflare</h1>
    </div>
  </div>

  <div class='flex justify-center mt-4'>

    <div id='tweet'>
      {{#each news}}
        <div
          class='max-w-full mx-4 mt-10 border-2 border-indigo-500 rounded-sm'
          id='{{this.id}}'
        >
          <div class='bg-white px-4 py-5 sm:px-6'>
            <div class='flex space-x-3'>
              <div class='flex-shrink-0'>
                <img
                  class='h-10 w-10 rounded-full'
                  src='/images/{{this.sourceId}}.jpg'
                  alt=''
                />
              </div>
              <div class='min-w-0 flex-1'>
                <p class='text-xl font-bold text-gray-900'>
                  <a href='' class=''>{{this.name}}</a>
                </p>
                <p class='text-lg text-gray-500'>
                  <a href='#' class=''>{{this.createdDate}}发布</a>
                </p>
              </div>
              <div class='flex flex-shrink-0 self-center'>
                <div class='relative inline-block text-left'>
                  <div
                    class='absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg focus:outline-none'
                    role='menu'
                    aria-orientation='vertical'
                    aria-labelledby='menu-0-button'
                    tabindex='-1'
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class='px-4 pb-5 sm:p-6 sm:pt-0'>
            <h1 class='font-bold text-lg'>{{this.title}}</h1>
            <br />
            <p>
              {{this.content}}
            </p>
            <br />
            <p>

              <div
                class='group aspect-h-7 aspect-w-10 block w-full h-2/5 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100'
              >
                <img
                  src='/news-resource/{{this.detailImage}}'
                  alt=''
                  class='pointer-events-none object-cover'
                  width='w-full'
                  height='h-full'
                />
              </div>
            </p>
          </div>

        </div>
      {{/each}}
    </div>

  </div>
  <div class='flex justify-center mt-10 mb-10'>
    <div class='text-lg font-bold'>
      <h1>如果以上无法使用， 使用V2Ray系列或Outline, 订阅链接</h1>
      <h1
      >https://raw.githubusercontent.com/hello-world-1989/cn-news/main/end-gfw-together</h1>
    </div>
  </div>
</main>